# .github/workflows/docker.yml
name: 50 Build docker image

on:
  workflow_dispatch: {}
  workflow_call:
    outputs:
      image-tag:
        description: 'The image tag(s) of the new docker image (comma separated)'
        value: ${{ jobs.docker.outputs.image-tag }}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    name: Build and publish Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image-tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download application binary
        uses: actions/download-artifact@v4
        with:
          name: Application-Binary
          path: target

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          # Ensure scheduled runs use main as tag label (default is nightly)
          # EVENT=BRANCH and SCHEDULE MUST BE LAST to work correctly
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=ref,event=pr
            type=ref,event=tag
            type=ref,event=branch
            type=schedule,pattern=main

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # optional: enable multi-platform builds if needed
          # platforms: linux/amd64,linux/arm64

      - name: Output image tag(s)
        run: |
          echo "image-tag=${{ steps.meta.outputs.tags }}" >> $GITHUB_OUTPUT
