name: 00 - Main CI / CD Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write
  issues: write
  actions: read
  security-events: write
  packages: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  sast:
    name: SAST
    needs: build
    uses: ./.github/workflows/sast.yml
    secrets: inherit

  semgrep:
    name: SEMGREP
    needs: sast
    uses: ./.github/workflows/semgrep.yml
    secrets: inherit

  docker:
    name: Build docker image
    needs: semgrep
    uses: ./.github/workflows/docker.yml
    secrets: inherit

  container-image-scan:
    name: Scan docker image
    needs: docker
    uses: ./.github/workflows/container-image-scan.yml
    secrets: inherit
    with:
      image-tag: ${{ needs.docker.outputs.image-tag }}

  dast:
    name: DAST Scan
    needs: [docker, container-image-scan] # Needs both to get output and ensure safety
    uses: ./.github/workflows/dast.yml
    secrets: inherit
    with:
      # This line is the most important:
      image-tag: ${{ needs.docker.outputs.image-tag }}