# .github/workflows/main-pipeline.yml
name: 00 - Main CI / CD Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: read
  actions: read
  security-events: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  sast:
    name: SAST
    needs: build
    uses: ./.github/workflows/sast.yml
    secrets: inherit

  semgrep:
    name: SEMGREP
    needs: build
    uses: ./.github/workflows/semgrep.yml
    secrets: inherit

